

.jumbotron {
    /* background-image: url(../images/crystal-ball.jpeg); */
    margin: auto;
    text-align: center;
} 

body {
    margin: auto;

}
#game-update {
    text-align: left;
    padding-left: 100px;
}